@import "css/reset.css";
@import "css/variables.css";
@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Noto+Sans+KR:wght@400;500;700&display=swap");

.hidden {
  display: none;
}

.wrapper {
  padding: var(--wrapper-padding);
  border-radius: 1rem;
}

.wrapper--transparent {
  background: var(--half-white);
}

.text-shadow {
  text-shadow: 0 0 0.2rem var(--dark-gray), 0.2rem 0.2rem 0 var(--dark-gray);
}

.text-stroke {
  text-shadow: 0 0 0.2rem black;
}

.text-stroke--bold {
  text-shadow: 0 0 0.5rem black;
}

.text-stroke--bold-white {
  text-shadow: 0 0 0.5rem white;
}

.btn {
  padding: var(--btn-padding);
  border-radius: 50%;
}

html {
  font-size: 62.5%;
}

body {
  background-size: cover;
  background-position: center;
  font-family: "Noto Sans KR";

  font-size: var(--base-fontSize);
  color: var(--black);
  overflow-x: hidden; /* REVIEW */
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  filter: brightness(0.8);
}

main {
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  flex-grow: 1; /* section's height also grows like align-items: stretch */
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--body-padding);
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: var(--white);
  font-weight: 700;
}

.weather__location-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.pin {
  font-size: 2rem;
}

.weather__location {
  font-size: 2.5rem;
}

.weather hr {
  width: 100%;
  height: 0.2rem;
  background: var(--white);
  border: none;
}

.setting {
  position: relative;
  display: none;
}

.settingBtn {
  align-self: flex-start;
}

/* section center */

/* #center {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.center__primary {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  /* height: 27%; REVIEW */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.primary__temp-greeting {
  font-family: "Gowun Dodum", sans-serif;
  font-weight: bold;
  font-size: var(--tempGreeting-fontSize);
  color: var(--white);
  margin-bottom: 4rem;
  /* padding-left: calc(var(--tempGreeting-fontSize) / 2); */
}

.hi {
  display: inline-block;
  transform: rotate(-5deg); /* REVIEW */
  animation: greet 1s ease-in-out infinite; /* REVIEW */
}

@keyframes greet {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

.primary__greeting-wrapper {
  display: flex;
  align-items: baseline; /* REVIEW */
  font-size: var(--username-fontSize);
  color: var(--white);
  margin-bottom: 1rem;
}

.username {
  padding: 0 0 0.1rem 0;
  background: none;
  color: var(--white);
}

.username::placeholder {
  color: rgb(210, 210, 210);
}

/* .username[type="text" i] REVIEW */

.username:hover,
.username:focus {
  border-bottom: var(--white-underline);
  border-width: 0.25rem;
}

.username:focus {
  padding-left: var(--username-padding);
  padding-right: var(--username-padding);
}

.primary__clock-wrapper {
  position: relative;
  width: 100%;
  text-align: center;
}

.clock {
  color: var(--white);
  font-size: var(--clock-fontSize);
  font-weight: 700;
}

.timeConvertBtn {
  position: absolute; /* REVIEW */
  /* top: -0.5rem; */
  right: 18rem;
  color: var(--dark-gray);
  background: var(--half-white);
  transition: opacity 0.5s, background 0.2s; /* REVIEW */
  transition-timing-function: ease-in-out;
  opacity: 0;
  /* visibility: hidden;  REVIEW */
}

.primary__clock-wrapper:hover > .timeConvertBtn {
  opacity: 1;
}

.timeConvertBtn:hover {
  background: var(--white);
}

/* section right */

#right {
  display: flex;
  flex-direction: column;
}

/* todos */

.right__todos {
  flex: 1 0 var(--todosContainer-height);
}

.todos-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  transition: all var(--todosTapTime) ease-in-out;
}

.todos-wrapper.show-todosTap {
  transform: none !important;
}

.todosTapBtn-wrapper {
  padding-right: calc(var(--body-padding) + 0.1rem);
  position: relative;
  transition: all var(--todosTapTime) ease-in-out;
}

.todosTapBtn-wrapper.todosTapBtn-wrapper--hide {
  transform: translateX(150%);
}

.todosTapBtn {
  padding: 1.5rem 1.4rem 0.7rem 1.25rem;
  background: var(--half-bright-white);
}

.todosTapBtn img {
  width: 4rem;
  height: 4rem;
}

.todos-tap-wrapper {
  width: 90%;
  position: relative;
  z-index: 2;
  padding-right: var(--body-padding);
}

.todos-tap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--todosTap-gap);
  background: var(--white);
  padding-left: var(--todosTap-gap);
  padding-right: var(--todosTap-gap);
}

.todos-tap__title {
  font-size: 3rem;
  font-weight: bold;
  width: 90%;
  text-align: center;
  padding-bottom: var(--todosTap-gap);
  border-bottom: 0.25rem solid var(--weak-gray);
}

.todos-tap__todos {
  width: 32rem;
  height: 35rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 2rem;
  font-weight: 500;
}

.empty {
  width: 100%;
  text-align: center;
  padding-top: calc(35rem / 2);
}

.todo {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  line-height: 2.5rem;
}

/* .todo__checkbox {
  font-size: 5rem;
} */

.todo__checkbox:checked + label {
  text-decoration-line: line-through;
  /* text-decoration-color: gray; */
}

.todos-tap__input {
  font-size: 2rem;
  border: 0.2rem solid var(--weak-gray);
  border-radius: 1rem;
  padding: 1rem 1.5rem;
}

.todos-tap__input:hover {
  background: rgb(255, 248, 230);
}

/* cat-house */

.right__cat-house {
  flex: 1 0 var(--catHouseContainer-height);
}
