@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Kalam:wght@700&family=Noto+Sans+KR:wght@400;500;700&display=swap");
@import "css/reset.css";
@import "css/variables.css";
@import "css/style-components.css";
@import "css/header.css";
@import "css/left.css";
@import "css/center.css";
@import "css/right.css";
@import "css/modal.css";

html {
  font-size: 62.5%;
}

body {
  background-size: cover;
  background-position: center;
  font-family: "Noto Sans KR";
  font-size: var(--base-fontSize);
  color: var(--black);
  overflow-x: hidden; /* REVIEW */
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  filter: brightness(0.8);
}

main {
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  flex-grow: 1; /* section's height also grows like align-items: stretch */
}

.hidden {
  display: none;
}
